<li class="span4 center">
  <div class="item">
    <!-- Team member image -->
    <img class="img-circle ashsih" src=<%= construct_image_path(name.split('/').last) %> alt="Treble" width="320" height='320'>
    <!-- Team memeber details, activated on hover -->
    <div class="about-overlay img-circle">
      <div class="social-icons sicon-white">
        <a href="<%= facebook(name.split('/').last.downcase) %>" class="sicon-facebook"><i>Facebook</i></a>
        <a href="<%= twitter(name.split('/').last.downcase) %>" class="sicon-twitter"><i>Twitter</i></a>
        <a href="<%= linkedin(name.split('/').last.downcase) %>" class="sicon-linkedin"><i>LinkedIn</i></a>
      </div>
    </div>
  </div>
  <!-- Team member name and function -->
  <h5>
    <%= name_sanitizer(name.split('/').last) %><br/>
  </h5>
  <!-- Team member short info -->
  <p class="smallFontBy08"><%#= quote %>.</p>
</li>
